@font-face {
  font-family: "CalibreWeb";
  font-style: normal;
  font-weight: 200;
  src: url("../font/CalibreWeb-Light.eot?#iefix") format("embedded-opentype"), url("../font/CalibreWeb-Light.woff2") format("woff2"), url("../font/CalibreWeb-Light.woff") format("woff"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: CalibreWeb; }

.main-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 100vh 200px 500px 300px;
  background: transparent url(../images/bg-texture.png) repeat top left; }

.wrap {
  max-width: 1380px;
  padding: 0 30px 0 30px;
  height: 100%;
  margin: auto; }

.selling-points .wrap {
  max-width: 880px;
  background-color: #D0E6CD; }

footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%; }

.footer__main {
  background: #f3f4f8 url(../images/bg-texture.png) repeat top left; }

.footer__small {
  background: #ecedf2 url(../images/bg-texture.png) repeat top left; }

.footer__main .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%; }

.footer__main .block li {
  list-style: none; }
