* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.main-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 100vh 200px 500px 300px; }

.wrap {
  max-width: 1380px;
  padding: 0 30px 0 30px;
  height: 100%;
  margin: auto; }

.hero {
  background-color: #114B5F; }
  .hero .wrap {
    background-color: #104557; }

.updates {
  background-color: #028090; }
  .updates .wrap {
    background-color: #198B9A; }

.selling-points {
  background-color: #E4FDE1; }
  .selling-points .wrap {
    max-width: 880px;
    background-color: #D0E6CD; }

footer {
  background-color: #456990;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%; }
  footer .footer__main {
    background-color: #55769A; }
    footer .footer__main .wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100%; }
    footer .footer__main .footer__block:nth-of-type(1) {
      background-color: rgba(255, 255, 255, 0.1); }
    footer .footer__main .footer__block:nth-of-type(2) {
      background-color: rgba(255, 255, 255, 0.25); }
    footer .footer__main .footer__block:nth-of-type(3) {
      background-color: rgba(255, 255, 255, 0.1); }
  footer .footer__small {
    background-color: #456990; }
    footer .footer__small .wrap {
      background-color: #3F6083; }
