@font-face {
  font-family: "CalibreWeb";
  src: url(../font/CalibreWeb-Light.eot);
  src: url(../font/CalibreWeb-Light.eot?#iefix) format("embedded-opentype"), url(../font/CalibreWeb-Light.woff2) format("woff2"), url(../font/CalibreWeb-Light.woff) format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'CalibreWeb';
  src: url(../font/CalibreWeb-Regular.eot);
  src: url(../font/CalibreWeb-Regular.eot?#iefix) format("embedded-opentype"), url(../font/CalibreWeb-Regular.woff2) format("woff2"), url(../font/CalibreWeb-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CalibreWeb';
  src: url(../font/CalibreWeb-Semibold.eot);
  src: url(../font/CalibreWeb-Semibold.eot?#iefix) format("embedded-opentype"), url(../font/CalibreWeb-Semibold.woff2) format("woff2"), url(../font/CalibreWeb-Semibold.woff) format("woff");
  font-weight: bold;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: CalibreWeb;
  font-size: 100%; }

a {
  text-decoration: none;
  color: #3e70ff; }

.main-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 100vh 200px auto auto;
  background: transparent url(../images/bg-texture.png) repeat top left;
  background-size: 164px 72px;
  font-size: 18px;
  color: #768093;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.01em; }

.selling-points .wrap {
  max-width: 880px; }

footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto; }

.footer__main {
  background: #f3f4f8 url(../images/bg-texture.png) repeat top left;
  background-size: 164px 72px;
  padding: 80px 0 60px 0; }

.footer__small {
  background: #ecedf2 url(../images/bg-texture.png) repeat top left;
  background-size: 164px 72px;
  padding: 20px 0 20px 0; }

.wrap {
  max-width: 1100px;
  padding: 0 30px 0 30px;
  height: 100%;
  margin: auto; }

.button {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  color: #3e70ff;
  display: inline-block;
  letter-spacing: 0.115em; }

.selling-points .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16%;
  padding-bottom: 140px;
  padding-top: 90px;
  line-height: 1.3em; }

.selling-points h4 {
  font-size: 24px;
  color: #1d1d1f; }

.selling-points p {
  margin: 20px  0; }

.footer__main .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 7.5%;
  max-width: 1100px; }

.footer__main__list-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1fr; }

.footer__main .block li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 13px; }

.footer__main h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #abb1b7;
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #dde1e5; }

.footer__small .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; }
  .footer__small .wrap nav {
    justify-self: end; }

.footer__small p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 14px; }

.footer__small .copyright-link {
  color: #1d1d1f;
  text-decoration: none; }

.button.big {
  padding: 23px 30px;
  font-size: 170px; }

.button.small {
  padding: 13.5px 22px;
  font-size: 14px; }

.button.outlined {
  border: 1px solid rgba(62, 112, 255, 0.5); }
