footer.footer-main
  .wrap.footer-main__wrap
    .footer-main__block
      h5.footer-main__block__title Products
      span.footer-main__block__list-item Storefront
      span.footer-main__block__list-item Billing
      span.footer-main__block__list-item Membership
      span.footer-main__block__list-item Pay Me
      span.footer-main__block__list-item Invoice
    .footer-main__block
      h5.footer-main__block__title Platform
      span.footer-main__block__list-item Support
      span.footer-main__block__list-item Customers
      span.footer-main__block__list-item Pricing
      span.footer-main__block__list-item WordPress
      span.footer-main__block__list-item Market
      span.footer-main__block__list-item Privacy Policy
      span.footer-main__block__list-item Terms
    .footer-main__block
      h5.footer-main__block__title Company
      span.footer-main__block__list-item About
      span.footer-main__block__list-item Blog
      span.footer-main__block__list-item Contact Support
      span.footer-main__block__list-item Twitter
      span.footer-main__block__list-item Instagram
      span.footer-main__block__list-item Facebook
      span.footer-main__block__list-item Pinterest
      span.footer-main__block__list-item Youtube

footer.footer-secondary
  .wrap.footer-secondary__wrap
    p.footer-secondary__copyright
      | Copyright © 2012-2018 
      a.footer-secondary__copyright-link(href="#") Plasso, Inc. 
      | All rights reserved.

    nav.footer-secondary__nav
      = "\n"
      a.button.small(href="#") Log In
      = "\n"
      a.button.small.outlined(href="#") Sign Up