.main-grid
  display: grid
  grid-template-columns: 100%
  grid-template-rows: 100vh auto auto auto
  background: $body-bg
  background-size: 164px 72px
  font-size: 18px
  color: $text-normal-color
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  letter-spacing: 0.01em

.hero
  text-align: center

.updates
  font-size: 14px
  text-align: center

.selling-points
  line-height: 1.3em

footer
  display: grid
  grid-template-columns: 100%
  grid-template-rows: auto auto

.footer__main
  padding: 80px 0 60px 0
  background: $footer-main-bg
  background-size: 164px 72px

.footer__small
  padding: 20px 0 20px 0
  background: $footer-small-bg
  background-size: 164px 72px
