.footer__main
  .wrap
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: auto
  .block
    li
      list-style: none
  h5
    font-size: 14px
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 0.1em
    color: $footer-heading-color

.footer__small
  .wrap
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto