.wrap
  // Final max-width, 1440px
  max-width: 1100px
  margin: auto

.button
  text-transform: uppercase
  text-decoration: none
  font-weight: bold
  border-radius: 3px
  color: $button-color
  display: inline-block
  letter-spacing: 0.115em

.hero
  &__title
    font-size: 54px
    color: $text-black
    font-weight: normal
    @media screen and (max-width: 400px)
      font-size: 34px
  &__text
    font-size: 26px
    font-weight: 200
    @media screen and (max-width: 400px)
      font-size: 20px
    &:first-of-type
      margin-top: 40px
    &:last-of-type
      margin-bottom: 55px

.slides:hover
  .slides__bottom
    background-color: #c8f0da
  .slides__top
    background: linear-gradient(#3cd781, #21b88f 50%)


.slides__bottom
  height: 100%
  transform: skewY(-2deg)
  transform-origin: bottom left
  background-color: #ffd9df

.slides__top
  height: 90%
  position: relative
  top: -90%
  transform: skewY(-3.2deg)
  transform-origin: bottom left
  background: linear-gradient($slides-background-primary, $slides-background-secondary 50%)
  transition-duration: 5s

.updates
  &__alert
    top: 0.2px
    background-color: $updates-pill
    padding: 2px 5px
    font-size: 10px
    -moz-border-radius: 10px
    -webkit-border-radius: 10px
    border-radius: 10px
    margin-right: 7px
    margin-left: -3px
    color: white
    font-weight: bold
    font-size: 10px
    text-transform: uppercase
  &__pill
    background-color: #f5f6f8
    display: grid
    grid-template-columns: auto auto
    padding: 5px 10px
    -moz-border-radius: 14px
    -webkit-border-radius: 14px
    border-radius: 14px
    justify-self: center
    align-items: center

.selling-points
  &__block
    @media screen and (max-width: 700px)
      &:first-of-type
        margin-bottom: 80px
  &__title 
    font-size: 24px
    color: $text-black
  &__text
    margin: 20px  0

.footer__main
  &__list-wrap
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 1fr
  &__block
    // margin-bottom: 50px
    @media screen and (max-width: 800px)
      margin-bottom: 50px
      &:last-of-type
        margin-bottom: 0
    li
      list-style: none
      font-size: 14px
      font-weight:
      margin-bottom: 13px
    a
      color: $text-normal-color
  &__title
    font-size: 14px
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 0.1em
    color: $footer-heading-color
    padding-bottom: 14px
    margin-bottom: 14px
    border-bottom: 1px solid rgb(221, 225, 229)

.footer__small
  .footer__small__nav
    justify-self: end
    @media screen and (max-width: 700px)
      justify-self: normal
      text-align: center
  &__copyright
    font-size: 14px
    font-weight: 400
    margin: 13px 0
    @media screen and (max-width: 700px)
      padding: 0 5%
      text-align: center
      margin-bottom: 30px
  &__copyright-link
    color: $text-black
    text-decoration: none