.wrap
  // Final max-width, 1440px
  max-width: 1100px
  padding: 0 30px 0 30px
  height: 100%
  margin: auto

.button
  text-transform: uppercase
  text-decoration: none
  font-weight: bold
  border-radius: 3px
  color: $button-color
  display: inline-block
  letter-spacing: 0.115em

.hero
  h2
    font-size: 54px
    color: $text-black
    font-weight: normal
  p
    font-size: 26px
    font-weight: 200
    
    &:first-of-type
      margin-top: 40px

    &:last-of-type
      margin-bottom: 55px
  
.updates
  span
    position: relative
    top: -1.4px
    background-color: $updates-pill
    padding: 2px 5px
    font-size: 10px
    -moz-border-radius: 10px
    -webkit-border-radius: 10px
    border-radius: 10px
    margin-right: 7px
    margin-left: -3px
    color: white
    font-weight: bold
    font-size: 10px
    text-transform: uppercase
  p
    position: relative
    top: -1.8px
    background-color: #f5f6f8
    display: inline-block
    padding: 5px 10px
    -moz-border-radius: 14px
    -webkit-border-radius: 14px
    border-radius: 14px

.selling-points
  h4
    font-size: 24px
    color: $text-black
  p
    margin: 20px  0

.footer__main
  &__list-wrap
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 1fr
  .block
    li
      list-style: none
      font-size: 14px
      font-weight:
      margin-bottom: 13px
  h5
    font-size: 14px
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 0.1em
    color: $footer-heading-color
    padding-bottom: 14px
    margin-bottom: 14px
    border-bottom: 1px solid rgb(221, 225, 229)

.footer__small
  nav
    justify-self: end
  p
    font-size: 14px
    font-weight: 400
    margin-top: 14px
  .copyright-link
    color: $text-black
    text-decoration: none