@font-face
  font-family: "CalibreWeb"
  src: url(../font/CalibreWeb-Light.eot)
  src: url(../font/CalibreWeb-Light.eot?#iefix) format("embedded-opentype"),url(../font/CalibreWeb-Light.woff2) format("woff2"),url(../font/CalibreWeb-Light.woff) format("woff")
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'CalibreWeb'
  src: url(../font/CalibreWeb-Regular.eot)
  src: url(../font/CalibreWeb-Regular.eot?#iefix) format("embedded-opentype"),url(../font/CalibreWeb-Regular.woff2) format("woff2"),url(../font/CalibreWeb-Regular.woff) format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CalibreWeb'
  src: url(../font/CalibreWeb-Semibold.eot)
  src: url(../font/CalibreWeb-Semibold.eot?#iefix) format("embedded-opentype"),url(../font/CalibreWeb-Semibold.woff2) format("woff2"),url(../font/CalibreWeb-Semibold.woff) format("woff")
  font-weight: bold
  font-style: normal