.button
  &.big
    padding: 23px 30px
    @media screen and (min-width: 400px)
      font-size: 17px
  &.small
    padding: 15px 22px
    // font-size: 14px
  &.outlined
    border: 1px solid rgba(62, 112, 255, 0.5)
  &.filled
    color: white
    background-color: rgba(62, 112, 255, 1)
    // background-image: $filled-button-bg
  &.drop-shadow
    -moz-box-shadow: rgba(23,43,99,0.26) 0 7px 42px
    -webkit-box-shadow: rgba(23,43,99,0.26) 0 7px 42px
    box-shadow: rgba(23,43,99,0.26) 0 7px 42px
