.button
  &.big
    padding: 23px 30px
    font-size: 17px
  &.small
    padding: 13.5px 22px
    font-size: 14px
  &.outlined
    border: 1px solid $button-border-color
  &.filled
      color: #FFFFFF
      background-image: linear-gradient(rgb(32, 131, 254), rgb(29, 123, 240))