// At 800px
//  hamburger menu
//  footer blocks stack

// At 700px
//  selling points stack
//  footer small elements stack

@font-face
  font-family: "CalibreWeb"
  font-style: normal
  font-weight: 200
  src: url("../font/CalibreWeb-Light.eot?#iefix") format("embedded-opentype"), url("../font/CalibreWeb-Light.woff2") format("woff2"), url("../font/CalibreWeb-Light.woff") format("woff")

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: CalibreWeb
  // font: inherit
  font-size: 100%
  vertical-align:baseline

$body-bg: transparent url(../images/bg-texture.png) repeat top left
$footer-main-bg: #f3f4f8 url(../images/bg-texture.png) repeat top left
$footer-small-bg: #ecedf2 url(../images/bg-texture.png) repeat top left
$text-normal-color: #768093
$button-color: #3e70ff
$button-border-color: #3e70ff
$footer-heading-color: #abb1b7


@import blocks
@import elements
@import modifiers