.gapper
  width: 100%
  height: 400px

.wrap
    margin: 0 auto
    max-width: 1100px

.button
    text-transform: uppercase
    text-decoration: none
    font-weight: bold
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    border-radius: 4px
    letter-spacing: 1.4px
    display: inline-block
    font-size: 14px
    line-height: 14px

    &:hover::after
        transform: translateX(11px)

.header__logo
  position: relative
  margin: 0 auto
  text-align: center
  font-size: 18px
  line-height: 18px
  @media screen and (min-width: 800px)
    position: absolute
    top: 30px
    left: 30px

  a
    line-height: 18px

  span
    display: none

  img
    height: 16px
    object-fit: cover

.hamburger
  z-index: 8
  display: block
  position: absolute
  @media screen and (min-width: 800px)
    display: none

.hamburger__line
  width: 22px
  height: 2px
  margin-bottom: 5px
  margin-left: 24px
  background-color: #1d1d1f

  &:last-of-type
    margin-bottom: 0

.hero
  &__title
    font-size: 34px
    line-height: 40.8px
    font-weight: 400
    color: #1d1d1f

    @media screen and (min-width: 400px)
      font-size: 54px
      line-height: 64.8px

  &__text
    line-height: 24px
    padding-top: 40px
    padding-bottom: 54px
    font-weight: 200
    font-size: 20px
    max-width: 390px
    margin: 0 auto

    @media screen and (min-width: 400px)
      font-size: 26px
      line-height: 31.2px

  .button.big:first-of-type
    margin-bottom: 30px

    @media screen and (min-width: 450px)
      margin-right: 25px

.product-page
  .hero
    margin-bottom: 200px
    &__tagline
      margin: 40px auto 10px auto
      font-size: 20px
      font-weight: 200
      color: #1d1d1f
      max-width: 590px
      @media screen and (min-width: 400px)
        font-size: 26px
        line-height: 31.2px

    &__sub-text
      font-size: 17px
      line-height: 22.1px
      margin: 0 auto
      margin-bottom: 54px
      max-width: 590px
    .button.big
      margin: 0 auto

      &::after
        transition: transform .5s
        content: " "
        width: 5px
        height: 9px
        // position: relative
        display: inline-block
        transform: translateX(6px)

      &:hover::after
        transform: translateX(9px)

.membership
  .hero
    &__title,
    .button
      color: $membership-color
      border-color: $membership-color
      @media screen and (min-width: 400px)
          padding: 23px 75px
      &::after
        background-image: url('data:image/svg+xml,<svg%20version="1.1"%20xmlns="http://www.w3.org/2000/svg"%20xmlns:xlink="http://www.w3.org/1999/xlink"%20x="0px"%20y="0px"%20viewBox="0%200%2010.0401%2017.9909"%20enable-background="new%200%200%2010.0401%2017.9909"%20xml:space="preserve"><path%20fill="%23f44c67"%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>')

.storefront
  .hero
    &__title,
    .button.big
      color: $storefront-color
      border-color: $storefront-color
      padding: 23px 50px
      margin: 0 12px 30px 12px
      @media screen and (min-width: 400px)
        padding: 23px 30px
      &::after
        background-image: url('data:image/svg+xml,<svg%20version="1.1"%20xmlns="http://www.w3.org/2000/svg"%20xmlns:xlink="http://www.w3.org/1999/xlink"%20x="0px"%20y="0px"%20viewBox="0%200%2010.0401%2017.9909"%20enable-background="new%200%200%2010.0401%2017.9909"%20xml:space="preserve"><path%20fill="%234f5ef5"%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>')
  
.main-menu
  max-height: 0
  visibility: hidden
  overflow: hidden
  transition: all .6s 
  z-index: 7
  @media screen and (min-width: 800px)
    margin-top: 0
    max-height: initial

  &__link
    line-height: 16px
    font-size: 16px
    display: block
    margin: 0 5%
    padding: 17px 20px
    color: #1d1d1f
    border-bottom: 1px solid #e8ebef
    &::after
      content: " "
      float: right
      width: 5px
      height: 9px
      position: relative
      display: inline-block
      margin-top: 5px
      align-self: center
      transform: translateX(3px)
      background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%231d1d1f" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>')

  &__middle
    transition: all .6s 
    opacity: 0
    @media screen and (min-width: 800px)
      opacity: 1
      visibility: visible
      text-align: center
      margin-top: 4px
    .main-menu__link
      @media screen and (min-width: 800px)
        display: inline
        margin: 0 20px
        padding: 0
        border: none
        font-size: 18px
      &::after
        @media screen and (min-width: 800px)
          content: none
      @media screen and (min-width: 800px)
        &:first-of-type::after
          content: " "
          width: 9px
          height: 5px
          float: none
          position: relative
          display: inline-block
          top: -1px
          align-self: center
          left: 3px
          background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17.991 10.04" enable-background="new 0 0 17.991 10.04" xml:space="preserve"><path fill="%231d1d1f" fill-rule="evenodd" clip-rule="evenodd" d="M9.9509,9.6565c-0.5277,0.5113-1.3841,0.5113-1.912,0L0.395,2.2394 c-0.5267-0.5137-0.5267-1.3437,0-1.8547c0.528-0.5129,1.3846-0.5129,1.9124,0l6.6882,6.4901l6.6881-6.4901 c0.528-0.5129,1.3846-0.5129,1.9125,0c0.5264,0.511,0.5264,1.341,0,1.8547L9.9509,9.6565z"/></svg>')
          transition: all .6s
          transform-origin: center center
      &:last-of-type
        @media screen and (min-width: 600px)
          border: none
          padding-bottom: 1px

  &__right
    transition: all .6s 
    opacity: 0
    
    z-index: 9
    @media screen and (min-width: 600px)
      opacity: 1
      visibility: visible
    
    .main-menu__link
      &:first-of-type
        border: none
        @media screen and (min-width: 600px)
          color: #3e70ff
          text-transform: uppercase
          font-weight: bold
          letter-spacing: 1.4px
          font-size: 14px
      &:last-of-type
        font-size: 14px
        line-height: 14px
        @media screen and (min-width: 600px)
          -moz-box-shadow: rgba(23,43,99,0.24) 0 7px 28px
          -webkit-box-shadow: rgba(23,43,99,0.24) 0 7px 28px
          box-shadow: rgba(23,43,99,0.24) 0 7px 28px

        &::after
          background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%23fff" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>')
          @media screen and (min-width: 600px)
            background: none
      &::after
        @media screen and (min-width: 600px)
          background: none

      @media screen and (min-width: 600px)
        display: inline-block
        margin: 0 auto
        padding: 15px 22px

    @media screen and (min-width: 600px)
      display: block
      position: absolute
      top: 11px
      right: 12px

    @media screen and (min-width: 800px)
      top: 15px
      right: 15px

.sub-nav
  transition: all .6s 
  opacity: 0
  max-height: 0
  overflow: hidden
  visibility: hidden
  z-index: 6
  position: absolute
  top: 66px
  width: 100%

  &__inner
    overflow-x: auto
    white-space: nowrap
    padding: 36.375px 0
    font-size: 15px
    background-color: #f5f6f8

    @media screen and (min-width: 600px)
      text-align: center
    
    @media screen and (min-width: 800px)
      background-color: rgba(255,255,255,0.97)
  
  a
    margin: 0 23px

    &:nth-child(1)
      color: $storefront-color

    &:nth-child(2)
      color: $membership-color

    &:nth-child(3)
      color: $billing-color

    &:nth-child(4)
      color: $invoice-color

    &:nth-child(5)
      color: $pay-me-color

.slider
    position: relative
    width: 100%
    padding: 50px 0
    overflow: hidden

    &__backgrounds
        position: absolute
        height: 380px
        width: 100%
        opacity: 0
        transition: opacity 0.4s linear
        will-change: opacity

        &__bottom
            clip-path: polygon(0 11.4%, 100% 0%, 100% 88.9%, 0% 100%)

        &__top
            clip-path: polygon(0 19.7%, 100% 0%, 100% 80.3%, 0% 100%)

    &__slides
        display: grid
        grid-template-columns: 100% 100% 100%
        transition: transform 0.4s ease-in-out
        will-change: transform
        height: 380px

        &__slide
            z-index: 1000
            background-color: white
            padding: 35px

            @media screen and (min-width: 500px)
                padding: 55px

            margin: 0 auto
            box-shadow: rgba(29, 29, 31, 0.15) 0px 10px 60px
            height: 380px
            max-height: 100%
            display: flex

            &__content-wrap
                margin: auto auto
                max-width: 230px

                @media screen and (min-width: 500px)
                    max-width: 320px

            &__title,
            &__sub-title,
            &__link
              &--membership
                  color: $membership-color

              &--billing
                  color: $billing-color

              &--storefront
                  color: $storefront-color

            &__title
                font-size: 45px
                font-weight: 400

            &__sub-title
                font-size: 18px
                font-weight: 300
                margin-bottom: 40px

                @media screen and (min-width: 500px)
                    margin-bottom: 75px

                line-height: 21.6px

            &__text
                font-size: 16px
                font-weight: 400
                line-height: 20.8px
                margin-bottom: 30px

            &__link
                text-transform: uppercase
                font-size: 14px
                font-weight: bold
                text-align: right
                display: block
                line-height: 14px
                letter-spacing: 1.4px

    &__pagination
        display: block
        text-align: center
        margin-top: 35px

        &__section
            display: inline-block
            width: 20%
            max-width: 100px
            height: 2px
            background-color: #1d1d1d
            cursor: pointer
            margin-right: 30px
            overflow: hidden
            will-change: transform
            opacity: 0.1
            transition: opacity 0.5s linear

            &:last-of-type
                margin-right: 0

#membershipSlide,
#billingSlide,
#storefrontSlide
    display: none

#membershipSlide:checked
    ~ .slider__backgrounds__top--membership,
    ~ .slider__backgrounds__bottom--membership
        opacity: 1

    ~ .slider__slides
        transform: translateX(0%)

    ~ .slider__pagination .slider__pagination__section--membership
        opacity: 1

#billingSlide:checked
    ~ .slider__backgrounds__top--billing,
    ~ .slider__backgrounds__bottom--billing
        opacity: 1

    ~ .slider__slides
        transform: translateX(-100%)

    ~ .slider__pagination .slider__pagination__section--billing
        opacity: 1

#storefrontSlide:checked
    ~ .slider__backgrounds__top--storefront,
    ~ .slider__backgrounds__bottom--storefront
        opacity: 1

    ~ .slider__slides
        transform: translate(-200%)

    ~ .slider__pagination .slider__pagination__section--storefront
        opacity: 1

.latest
    &__pill
        line-height: 18.2px
        font-size: 14px
        background-color: #f5f6f8
        -moz-border-radius: 14px
        -webkit-border-radius: 14px
        border-radius: 14px
        padding: 6px 10px
        grid-gap: 10px
        display: grid
        grid-template-columns: auto 1fr
        align-items: center
        grid-auto-flow: column
        transition: opacity .3s

        &__alert
            line-height: 10px
            font-weight: bold
            font-size: 10px
            font-style: normal
            text-transform: uppercase
            -moz-border-radius: 10px
            -webkit-border-radius: 10px
            border-radius: 10px
            color: #fff
            background-color: #3e70ff
            padding: 2px 5px

        &__arrow
            transition: transform .3s
            width: 5px
            height: 9px
            margin-right: 6px
            transform: translateX(3px)
            background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%233e70ff" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>')
        
        &:hover
            opacity: 0.5

            &:hover
                .latest__pill__arrow
                    transform: translateX(5px)

.selling-points
    &__block
        &__title
            color: #1d1d1f
            font-size: 24px
            font-weight: bold
            margin-bottom: 20px
            line-height: 28.8px

        &__text
            font-size: 18px
            line-height: 23.4px
            margin-bottom: 15px

        &__link
            transition: opacity .3s

            &:hover
                opacity: 0.5
                &::after
                   transform: translateX(5px)


.footer
    &-main__block
        &__title
            color: #abb1b7
            font-size: 14px
            font-weight: bold
            margin-bottom: 15px
            padding-bottom: 15px
            letter-spacing: 1.4px
            text-transform: uppercase
            border-bottom: 1px solid #dde1e5

        &__list-item
            display: inline-block
            width: 50%
            margin-bottom: 15px
            font-size: 14px
            line-height: 0px
            transition: opacity .25s

            &:hover
                opacity: 0.5

    &-secondary
        &__copyright
            font-size: 14px
            font-weight: 400
            padding: 0 20px
            line-height: 18.2px

            @media screen and (min-width: 700px)
                padding: 0
                margin: auto 0

        &__nav
            @media screen and (min-width: 700px)
                justify-self: end

        &__copyright-link
            color: #1d1d1f

.boxes
  &__container
    &:first-of-type
      @media screen and (min-width: 900px)
        display: grid
        grid-template-columns: repeat(1, .58fr .42fr)
        grid-row-gap: 40px
    &:last-of-type
      @media screen and (min-width: 900px)
        display: grid
        grid-template-columns: repeat(1, .42fr .58fr)
        grid-row-gap: 40px
    &:last-of-type
      .box:last-of-type
        z-index: -1

  .box
    &-one
      background-color: #f5f7fb
      @media screen and (min-width: 900px)
        margin-bottom: 40px
        margin-right: -20px
    &-four
      background-color: #f5f7fb
      @media screen and (min-width: 900px)
        margin-top: 50px
        margin-left: -20px
    &-two
      @media screen and (min-width: 900px)
        margin-top: 40px
    &-three
      background-color: #1d1d1f
      @media screen and (min-width: 900px)
        margin-top: 20px
    &__title
      &-alt
        font-size: 16px
        text-transform: uppercase
        letter-spacing: 1.6px
      &-main
        font-size: 28px
        font-weight: 400
        margin-top: 20px
        margin-bottom: 15px
        @media screen and (min-width: 400px)
          font-size: 24px
        @media screen and (min-width: 400px)
          font-size: 26px

        @media screen and (min-width: 900px)
          margin-bottom: 22px
          font-size: 26px
    &__text
      font-weight: 400
      font-size: 16px
      line-height: 20.8px

    &__inner
      padding: 45px 35px
      @media screen and (min-width: 500px)
        padding: 65px 75px

.membership
  .box-two
      background-color: $membership-color
.storefront
  .box-two
      background-color: $storefront-color
      

.points
  @media screen and (min-width: 600px)
    display: grid
    grid-template-columns: 1fr 1fr
  @media screen and (min-width: 800px)
    grid-template-columns: 1fr 1fr 1fr


  &__block
    padding: 30px 40px

    &:nth-child(odd)
      @media screen and (max-width: 800px)
        background-color: #f5f6f8
    // &__title
    h4
      font-size: 20px
      color: #1d1d1f
      margin-bottom: 16px
      line-height: 24px

.pricing
  &__flexible
    text-align: center
    font-size: 18px
    margin: 120px 0
 
  &-comparision

    &__blocks-container
      display: grid
      grid-template-rows: 1fr 1fr
      justify-items: center
      margin-top: -80px
      @media screen and (min-width: 600px)
        grid-template-rows: auto
        grid-template-columns: 1fr 1fr
        max-width: 500px
        margin: -80px auto 0 auto

    &__block
      margin-bottom: 5px
      background-color: #fff
      border-radius: 3px
      -moz-box-shadow: rgba(29,29,31,0.13) 0 10px 60px
      -webkit-box-shadow: rgba(29,29,31,0.13) 0 10px 60px
      box-shadow: rgba(29,29,31,0.13) 0 10px 60px
      min-width: 250px

      &:first-of-type
      
        .pricing-comparision__block__section:nth-child(2)
          padding-bottom: 33px
      &__section
        &:nth-child(1)
          padding: 26px
          border-left: 8px solid #1d1d1f
          color: #1d1d1f
          border-radius: 3px 0 0 0
          font-size: 23px
          font-weight: 400
          text-transform: uppercase
          letter-spacing: 1.83333px

        &:nth-child(2)
          padding: 18px 26px
          border-left: 8px solid #9da5af

        &:nth-child(3)
          padding: 18px 26px
          border-left: 8px solid #dee1e4
          strong 
            margin-right: 4px
          em
            font-size: 30px
        &:nth-child(4)
          padding: 18px 34px 0 34px
        &:nth-child(5)
          padding: 28px
          text-align: center
      
        sup
          font-size: 24px
          margin-right: 3px
          color: #abb1b7
          line-height: 21.6px
        strong
          font-size: 44px
          font-weight: 400
          color: #1d1d1f
          line-height: 21.6px
        em
          font-size: 16px
          color: #abb1b7
          font-style: normal
          font-weight: bold
          margin-left: 1px
        p
          font-size: 14px
          color: #1d1d1f
          max-width: 110px
          span
            color: #abb1b7
        small
          color: #abb1b7
          font-size: 13px
          a
            color: #abb1b7
            text-decoration: underline
        .button
          width: 100%
          &::after
            transition: transform .5s
            content: " "
            width: 5px
            height: 9px
            // position: relative
            display: inline-block
            transform: translateX(3px)
            background-image: url('data:image/svg+xml,<svg%20version="1.1"%20xmlns="http://www.w3.org/2000/svg"%20xmlns:xlink="http://www.w3.org/1999/xlink"%20x="0px"%20y="0px"%20viewBox="0%200%2010.0401%2017.9909"%20enable-background="new%200%200%2010.0401%2017.9909"%20xml:space="preserve"><path%20fill="%23fff"%20fill-rule="evenodd"%20clip-rule="evenodd"%20d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>')

          &:hover::after
            transform: translateX(6px)

.comparision
  &__main-title
    margin: 0 30px
    margin-bottom: 14px
    font-size: 32px
    font-weight: 200
    color: #1d1d1f
    line-height: 35.2px
    text-align: center

  &__main-text
    text-align: center
    font-size: 18px
    // font-weight: no
    color: #768093
    margin: 0 30px
    margin-bottom: 40px
    line-height: 23.4px

    b
      font-weight: normal
      color: #1d1d1f
  table
    border-spacing: 8px
    max-width: 500px
    margin: 0 auto
  thead
    th
      color: #1d1d1f
      text-align: center
      padding-right: 0
      
      @media screen and (min-width: 400px)
        font-size: 18px
  tr
    padding: 12px 8px 12px 8px
    display: grid
    grid-template-columns: auto 75px 75px
    border-bottom: 1px solid #e8ebef
    @media screen and (min-width: 400px)
      grid-template-columns: auto 110px 110px
  th
    text-align: right
    font-size: 13px
    padding-right: 20%
    font-weight: 400
    line-height: 16.9px
    @media screen and (min-width: 400px)
      font-size: 15px
  td
    text-align: center
    font-size: 13px
    align-self: center
    font-weight: 400
    line-height: 16.9px
    @media screen and (min-width: 400px)
      font-size: 15px

  &__no
    display: block
    height: 24px
    width: 24px
    border:  1px solid #ed4d4d
    border-radius: 50px
    margin: 0 auto
  
  &__yes
    height: 24px
    width: 24px
    border:  1px solid #35c87f
    border-radius: 50px
    margin: 0 auto
