.stripes__span
    height: 190px
    position: absolute

.stripes__span--1
    width: 16.66%
    background-color: #53f

.stripes__span--2
    width: 33.33%
    left: 16.66%
    background-color: #4553ff

.stripes__span--3
    width: 33.33%
    left: 49.99%
    background-color: #4f40ff

.stripes__span--4
    width: 16.66%
    right: 0
    top: 360px
    background-color: #25ddf5

.stripes__span--5
    width: 33.33%
    bottom: 0
    background-color: #1fa2ff