doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins")
    title Plasso
  body
    .main-grid
      //- section.header
      //-   .wrap
      //-     h1 Plasso
      //-     nav.header-nav.header-nav__main
      //- ul
      //-   li
      //-   li
      //-   li
      //-   li

      section.hero
        .wrap.wrap--hero
          h2.hero__title Payments Made Simple
          p.hero__text Sell and accept payments online
          p.hero__text No coding or website building necessary.

          = "\n"
          a.button.big.outlined(href="#") Watch Film
          = "\n"
          a.button.big.filled.drop-shadow(href="#") Start Making Money

      section.updates
        .wrap.wrap--updates
          p.updates__pill
            span.updates__alert new
            a.updates__link(href="#") We've just launched our new WordPress plugin and free themes!

      section.selling-points
        .wrap.wrap--selling-points
          .selling-points__block
            h4.selling-points__title Hassle-free recurring billing
            p.selling-points__text Get recurring billing for your business setup in a few minutes. No coding neccessary. Plasso will manage your payments, customers and user authentication all automatically.
            a(href="#") Learn More

          .selling-points__block
            h4.selling-points__title Plasso: a business platform
            p.selling-points__text Sell your services and subscriptions. Sell physical and digital goods. Send invoices. Get paid. Plasso makes it easy to start and grow your own business.
            a(href="#") Get Started

      footer
        .footer__main
          .wrap.wrap--footer__main
            .footer__main__block
              h5.footer__main__title Products
              .footer__main__list-wrap
                ul
                  li
                    a(href="#") Storefront
                  li
                    a(href="#") Membership
                  li
                    a(href="#") Invoice
                ul
                  li
                    a(href="#") Billing
                  li
                    a(href="#") Pay Me
            .footer__main__block
              h5.footer__main__title Platform
              .footer__main__list-wrap
                ul
                  li
                    a(href="#") Support
                  li
                    a(href="#") Pricing
                  li
                    a(href="#") Market
                  li
                    a(href="#") Terms
                ul
                  li
                    a(href="#") Customers
                  li
                    a(href="#") WordPress
                  li
                    a(href="#") Privacy Policy
            .footer__main__block
              h5.footer__main__title Company
              .footer__main__list-wrap
                ul
                  li
                    a(href="#") About
                  li
                    a(href="#") Contact Support
                  li
                    a(href="#") Instagram
                  li
                    a(href="#") Pinterest
                ul
                  li
                    a(href="#") Blog
                  li
                    a(href="#") Twitter
                  li
                    a(href="#") Facebook
                  li 
                    a(href="#") YouTube
        .footer__small
          .wrap.wrap--footer__small
            p.footer__small__copyright
              | Copyright © 2012-2017 
              a.footer__small__copyright-link(href="#") Plasso, Inc. 
              | All rights reserved.
            nav.footer__small__nav
              = "\n"
              a.button.small(href="#") Log In
              = "\n"
              a.button.small.outlined(href="#") Sign Up



