doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins")
    title Plasso
  body
    .main-grid
        //- section.header
        //-   .wrap
        //-     h1 Plasso
        //-     nav.header-nav.header-nav__main
              //- ul
              //-   li
              //-   li
              //-   li
              //-   li

        section.hero
          .wrap
            h2 Payments Made Simple
            p Sell and accept payments online
            p No coding or website building necessary

            = "\n"
            a.button.big.outlined(href="#") Watch Film
            = "\n"
            a.button.big.filled(href="#") Start Making Money

        section.updates
          .wrap
            p
              span new
              a(href="#") We've just launched our new WordPress plugin and free themes!

        section.selling-points
          .wrap
            .text-block
              h4 Hassle-free recurring billing
              p Get recurring billing for your business setup in a few minutes. No coding neccessary. Plasso will manage your payments, customers and user authentication all automatically.
              a(href="#") Learn More

            .text-block
              h4 Plasso: a business platform
              p Sell your services and subscriptions. Sell physical and digital goods. Send invoices. Get paid. Plasso makes it easy to start and grow your own business.
              a(href="#") Get Started

        footer
          .footer__main
            .wrap
              .block
                h5 Products
                .footer__main__list-wrap
                  ul
                    li Storefront
                    li Membership
                    li Invoice
                  ul
                    li Billing
                    li Pay Me
              .block
                h5 Platform
                .footer__main__list-wrap
                  ul
                    li Support
                    li Pricing
                    li Market
                    li Terms
                  ul
                    li Customers
                    li WordPress
                    li Privacy Policy
              .block
                h5 Company
                .footer__main__list-wrap
                  ul
                    li About
                    li Contact Support
                    li Instagram
                    li Pinterest
                  ul
                    li Blog
                    li Twitter
                    li Facebook
                    li YouTube
          .footer__small
            .wrap
              p
                | Copyright © 2012-2017 
                a.copyright-link(href="#") Plasso, Inc. 
                | All rights reserved.
              nav
                = "\n"
                a.button.small(href="#") Log In
                = "\n"
                a.button.small.outlined(href="#") Sign Up



